.botaoForm {
  background-color: #17d9b1;
  color: #212121;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  margin: 32px auto;
  padding: 8px 16px;
}

.botaoForm:hover {
  opacity: 0.8;
  cursor: pointer;
}
