.form-evento {
  background-color: #212121;
  padding: 32px 28px;
  border-radius: 16px;
  width: 400px;
  max-width: 90%;
  margin: 64px auto;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.botao {
  display: flex;
  justify-content: column;
  gap: 16px;
}
